<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<insert id = "register">
		INSERT INTO GS_USERINFO('USERID'
							   ,'USERNAME'
							   ,'PASSWORD'
							   ,'EMAIL'
							   ,'GENDER'
							   ,'ROLE'
							   ,'CREATETIME'
							   ,'CREATOR')
						VALUES( #{userId}
							   ,#{userName}
							   ,#{password}
							   ,#{email}
							   ,#{gender}
							   ,'ADMIN'
							   ,SYSDATE()
							   ,#{userId})
					
	</insert>
	

</mapper>